

.normal {
  min-height: 100%;
}

.header_logo {
  width: 120px;
  color: #fff;
  border-radius: 6px;
  float: left;
}

.top_menu_item {
  line-height: 64px;
}

.sider_container {
  width: 200px;
  background-color: #fff;
}

.sider_menu {
  height: 100%;
  border-right: 0;
  padding-top: .5rem;
}
